src/main/resources/static/schemas/scientificPaper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/milica152/XML_tim27"
    xmlns:sp="https://github.com/milica152/XML_tim27">
    <xs:element name="scientificPaper">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="metadata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="status">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="sp:TStatusS">
                                            <xs:anyAttribute namespace="##local"
                                                processContents="skip"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="datePublished">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:date">
                                            <xs:anyAttribute namespace="##local"
                                                processContents="skip"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="dateAccepted">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:date">
                                            <xs:anyAttribute namespace="##local"
                                                processContents="skip"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="keywords">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="keyword">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:anyAttribute namespace="##local"
                                                  processContents="skip"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="title">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="authors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="sp:author"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="abstract">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="1" name="plainChapter" type="sp:TAbstractChapter"
                            />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="chapters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="sp:chapter"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="references">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="reference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="url" type="xs:string"/>
                                        <xs:element name="name" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute ref="sp:id"/>
                                    <xs:attribute name="year" type="xs:date"/>
                                    <xs:attribute name="authorName">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string"/>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:anyAttribute namespace="##local" processContents="skip"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="institution" type="xs:string"/>
            <xs:anyAttribute namespace="##local" processContents="skip"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TAbstractChapter">
        <xs:sequence>
            <xs:element name="text">
                <xs:complexType>
                    <xs:sequence maxOccurs="1">
                        <xs:element maxOccurs="1" ref="sp:paragraph"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute ref="sp:id"/>
    </xs:complexType>
    <xs:complexType name="TChapter">
        <xs:sequence>
            <xs:element ref="sp:title"/>
            <xs:element name="text">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" ref="sp:paragraph"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute ref="sp:id"/>
    </xs:complexType>
    <xs:element name="chapter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="sp:TChapter">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element ref="sp:image"/>
                        <xs:element ref="sp:list"/>
                        <xs:element ref="sp:table"/>
                        <xs:element name="codeBlock">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute ref="sp:id"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="referencePointer">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute ref="sp:id"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="paragraph">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="sp:id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string"> </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:attribute name="id" type="sp:TId"/>
    <xs:simpleType name="TId">
        <xs:restriction base="xs:string">
            <xs:pattern value="(.+\/.+)+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TAuthor">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element minOccurs="0" name="profession" type="xs:string"/>
            <xs:element minOccurs="0" name="contact" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="author">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="sp:TAuthor">
                    <xs:attribute ref="sp:id"/>
                    <xs:anyAttribute namespace="##local" processContents="skip"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="listItem" type="xs:string"/>
            </xs:sequence>
            <xs:attribute ref="sp:id"/>
            <xs:attribute name="isOrdered" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string"/>
                <xs:element maxOccurs="unbounded" name="row">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="cell">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string"> </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="sp:id"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="image">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="concreteImage" type="xs:base64Binary"/>
            </xs:sequence>
            <xs:attribute ref="sp:id"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="TStatusS">
        <xs:restriction base="xs:string">
            <xs:enumeration value="accepted"/>
            <xs:enumeration value="rejected"/>
            <xs:enumeration value="withdrawn"/>
            <xs:enumeration value="in process"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
